* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  height: 100vh;
  width: 100vw;
  position: relative;
  transition: color 0.3s ease-in-out;
}

body.yellow {
  color: #fbc531;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  z-index: 100;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.center {
  background-color: rgba(255, 255, 255, 0.5);
  width: 35%;
  height: 30%;
  padding: 10px 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 34px;
}
