.login-wrapper {
  padding: 10px 5px;
}

#loginForm.hidden {
  display: none;
}

#loginForm input {
  all: unset;
  border-bottom: 2px solid white;
  font-size: 24px;
  text-align: center;
  width: 50%;
  line-height: 30px;
  padding-bottom: 5px;
}

#loginForm input.yellow {
  border-bottom: 2px solid #fbc531;
}

#loginForm input::placeholder {
  color: rgba(255, 255, 255, 0.788);
}

#loginForm button {
  all: unset;
  width: 70px;
  height: 35px;
  border-radius: 34px;
  background-color: #fbc531;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
}

.greeting {
  font-size: 28px;
}
