/* Toggle button */
.fa-bars {
  font-size: 1.5rem;
  display: block;
  cursor: pointer;
  padding: 5px;
}

/* Todo List */
.todo-container {
  position: fixed;
  height: 80%;
  transition: transform 0.3s ease-in-out;
  width: 20rem;
  top: 10%;
  right: -20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 0px 5px 0px black;
}

.todo-container::before {
  content: "";
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255, 0, 0, 0.4);
}

.showing {
  transform: translateX(-20rem);
}

#todoForm {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.todoInput {
  all: unset;
  border: 1px solid black;
  color: black;
  border-radius: 2px;
  width: 75%;
  height: 23px;
  padding: 4px;
  background-color: white;
}

.todoSubmitBtn {
  all: unset;
  width: 20px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 10px;
}

.fa-pencil-alt {
  color: black;
}

.paper {
  background-color: blue;
  width: 100%;
  height: calc(100% - 40px);
  background-image: repeating-linear-gradient(
    white 0px,
    white 24px,
    steelblue 25px
  );
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
}

.holes {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  box-shadow: inset 2px 2px 2px 0px black;
}

.hole-top {
  top: 10%;
}

.hole-middle {
  top: 50%;
}

.hole-bottom {
  top: 90%;
}

.todoList {
  width: 100%;
  display: flex;
  padding: 5px 0px 0px 60px;
  flex-direction: column;
  align-items: flex-start;
}

.todoList li {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 900;
}

.todoList li span:first-child {
  color: black;
}

.todoList li button {
  all: unset;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 10px;
  font-size: 8px;
}
