.weahtherAndLocation {
  width: 100%;
  height: 10%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.weahtherAndLocation span:nth-child(1)::after,
.weahtherAndLocation span:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 10px;
}
